<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >

<head th:fragment="common-header" >
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>FAST Shoes Shop</title>
  <!-- add icon link -->
  <link rel="icon" href="image/logo.svg" type="image/x-icon">



  <link href="/css/styles.css" rel="stylesheet">

  <!-- FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&family=Roboto+Condensed:wght@700&family=Roboto:wght@300;700&display=swap" rel="stylesheet">

</head>
  <!-- Custom styles for this template -->


<body>

<div th:fragment="navbar">
<nav>
    <div class="navbar">
      <ul>
        <li><a href="/"><img src="image/logo.svg" alt=""> </a> </li>
        <li class="middle">
          <a href="newReleases">New releases</a>
         <div class="dropdown">
  <button class="dropbtn">Shoes</button>
  <div class="dropdown-content">
  <a class="droplink" href="runningShoes">Running</a>
  <a class="droplink" href="basketBallShoes">Basketball</a>
  <a class="droplink" href="skateShoes">Skate</a>
  </div>
</div>
          <a href="about">About</a>
          <a href="contact">Contact</a>
        </li>
        <li class=account>
          <a th:href="@{/login}"><img src="image/account.svg" alt=""> </a>
          <a href="cart"><img src="image/cart.svg" alt=""></a>
        </li>




      </ul>
    </div>
  </nav>

</div>


<div th:fragment="chat">

<div class="interactive">
  <img src="image/interactive-chat.png" alt="">

</div>

</div>




<div th:fragment="body-bottom">
<footer>
    <div class="logo-footer">
      <img class="logof" src="image/logo-white.svg" alt="">
      <img src="image/brand-name.png" alt="">
    </div>

    <div class="line"></div>

    <div class="content">
      <a class="footer-link" href="newReleases">NEW RELEASES</a>
      <a class="footer-link" href="about">ABOUT</a>
      <a class="footer-link" href="contact">CONTACT</a>
    </div>

  </footer>

  <script src="js/script.js"></script>

</div>



</body>
</html>
