<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">


<head th:replace="common/header :: common-header"></head>


<body>

  <div th:replace="common/header :: navbar"></div>

  <div class="about">
    <h1>ABOUT US</h1>

    <p class="paragraph">FAST is your place for athletic and easygoing shoes for the entire family from many name brands. You’ll discover styles for ladies, men and children from brands like Nike, Converse, Vans, Sperry, Madden Girl, Skechers, ASICS and then more!</p>
    <p class="paragraph">Project by: Yousra Elhour, Niamatallah Massik, Mehdi Azzouzi</p>

  </div>


  <div th:replace="common/header :: body-bottom"></div>



</body>


</html>
