<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">


<head th:replace="common/headerAdmin :: common-headerAdmin"></head>


<body>

  <div th:replace="common/headerAdmin :: navbar"></div>

  <div class="main">
    <div class="title">
        <h1 class="title-section"><a href="#new">Manage Products</a></h1>
        <a href="addProduct"><img src="image/add.png" alt=""></a>
    </div>


    <div class="row-first">
      <div class="row-section">
        <div class="column first">
          <div class="image-product">
            <img src="image/nike-air-zoom-sup.png" style="width:85%">
          </div>
          <div class="info">
            <h2 href="#" class="title-product">NIKE AIR ZOOM SUPERREP</h2>
            <h2 href="#" class="price-product">989,00DHS</h2>
          </div>
        </div>

        <div class="column">
          <div class="image-product">
            <img href="#" src="image/nike-free-metcon.png" style="width:85%">
          </div>

          <div class="info">
            <h2 href="#" class="title-product">NIKE FREE METCON</h2>
            <h2 href="#" class="price-product">912,00DHS</h2>
          </div>

        </div>
        <div class="column last">
          <div class="image-product">
            <img class="product-bg" href="#" src="image/nike-air-zoom-pegasus.png" style="width:85%">
          </div>

          <div class="info">
            <h2 href="#" class="title-product">NIKE AIR ZOOM 31</h2>
            <h2 href="#" class="price-product">912,00DHS</h2>
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="row-section">
        <div class="column first">
          <div class="image-product">
            <img class="product-bg" href="#" src="image/adidas-ultraboost.png" style="width:85%">
          </div>

          <div class="info">
            <h2 href="#" class="title-product">ADIDAS ULTRABOOST 22</h2>
            <h2 href="#" class="price-product">1650,00DHS</h2>
          </div>

        </div>
        <div class="column">
          <div class="image-product">
            <img href="#" class="product-bg" src="image/bondi-7-wide.png" style="width:85%">
          </div>

          <div class="info">
            <h2 href="#" class="title-product">BONDI 7 WIDE</h2>
            <h2 href="#" class="price-product">16750,00DHS</h2>
          </div>

        </div>
        <div class="column last">
          <div class="image-product">
            <img class="product-bg" href="#" src="image/mizuno-wave-rider.png" style="width:85%">
          </div>

          <div class="info">
            <h2 href="#" class="title-product">MIZUNO WAVE RIDER</h2>
            <h2 href="#" class="price-product">1200,00DHS</h2>
          </div>

        </div>
      </div>

    </div>



    <div class="row">
      <div class="row-section">
        <div class="column first">
          <div class="image-product">
            <img class="product-bg" href="#" src="image/nike-air-zoom-pegasu-31s.png" style="width:85%">
          </div>

          <div class="info">
            <h2 href="#" class="title-product">NIKE AIR ZOOM 38</h2>
            <h2 href="#" class="price-product">912,00DHS</h2>
          </div>

        </div>
        <div class="column">
          <div class="image-product">
            <img class="product-bg" href="#" src="image/new-balance-fresh.png" style="width:85%">
          </div>

          <div class="info">
            <h2 href="#" class="title-product">NEW BALANCE FRESH</h2>
            <h2 href="#" class="price-product">1300,00DHS</h2>
          </div>

        </div>
        <div class="column last">
          <div href="#" class="image-product">
            <img class="product-bg" href="#" src="image/mizuno-wave-rider-25.png" style="width:85%">
          </div>

          <div class="info">
            <h2 href="#" class="title-product">MIZUNO WAVE RIDER 25</h2>
            <h2 href="#" class="price-product">1350,50DHS</h2>
          </div>

        </div>


      </div>
    </div>

    <div class="pages">
    <a class="prev-page">&#10094;</a>
    <a class="page active" href="#">1</a>
    <a class="page" href="#">2</a>
    <a class="page" href="#">3</a>
    <a class="next-page">&#10095;</a>
    </div>

  </div>













  <div th:replace="common/headerAdmin :: body-bottom"></div>



</body>


</html>
