<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">


<head th:replace="common/headerAdmin :: common-headerAdmin"></head>


<body>

  <div th:replace="common/headerAdmin :: navbar"></div>

  <div class="profile">
    <div class="menu-admin">

      <a class="option unactive" href="manageUsers">
        <h2 class="profile-option">Users</h2>
      </a>
      <a class="active" href="manageOrders">
        <h2 class="track-option">Orders</h2>
      </a>
      <a class="option unactive" href="manageProducts">
        <h2 class="catalog-option">Products</h2>
      </a>

      <a class="logout" href="/">
        <h2 class="logout-option-admin">Log out</h2>
      </a>
    </div>

    <div class="main">
      <h1 class="orders">Manage Orders</h1>
      <div class="container-manageUser">

        <div class="manageUser-details">
          <div class="order-ID" style="flex-grow: 1;">
            <h2 class="title-order">Order ID</h2>
            <h3 class="info-order">148</h3>
          </div>
          <div class="order-products" style="flex-grow:1;">
            <h2 class="title-order">E-mail</h2>
            <h3 class="info-order">user@email.com</h3>
          </div>
          <div class="total-order" style="flex-grow:3">
            <h2 class="title-order">Products</h2>
            <h3 class="info-order">Nike model blue n1287 size 38</h3>
          </div>
          <div class="status-order" style="flex-grow:1">
            <h2 class="title-order">Total</h2>
            <h3 class="info-order">1250,00DHS</h3>
          </div>
          <div class="status-order-admin" style="flex-grow:2">
            <h2 class="title-order">Status</h2>
            <input class="info-order"type="text" name="order-status" value="In preparation">
          </div>
        </div>

        <a href="#" class="delete-user"><img src="image/x-circle.png" alt=""></a>


      </div>

      <div class="container-manageUser">

        <div class="manageUser-details">
          <div class="order-ID" style="flex-grow: 1;">
            <h2 class="title-order">Order ID</h2>
            <h3 class="info-order">148</h3>
          </div>
          <div class="order-products" style="flex-grow:1;">
            <h2 class="title-order">E-mail</h2>
            <h3 class="info-order">user@email.com</h3>
          </div>
          <div class="total-order" style="flex-grow:3">
            <h2 class="title-order">Products</h2>
            <h3 class="info-order">Nike model blue n1287 size 38</h3>
          </div>
          <div class="status-order" style="flex-grow:1">
            <h2 class="title-order">Total</h2>
            <h3 class="info-order">1250,00DHS</h3>
          </div>
          <div class="status-order-admin" style="flex-grow:2">
            <h2 class="title-order">Status</h2>
            <input class="info-order"type="text" name="order-status" value="In preparation">
          </div>
        </div>

        <a href="#" class="delete-user"><img src="image/x-circle.png" alt=""></a>


      </div>

      <div class="container-manageUser">

        <div class="manageUser-details">
          <div class="order-ID" style="flex-grow: 1;">
            <h2 class="title-order">Order ID</h2>
            <h3 class="info-order">148</h3>
          </div>
          <div class="order-products" style="flex-grow:1;">
            <h2 class="title-order">E-mail</h2>
            <h3 class="info-order">user@email.com</h3>
          </div>
          <div class="total-order" style="flex-grow:3">
            <h2 class="title-order">Products</h2>
            <h3 class="info-order">Nike model blue n1287 size 38</h3>
          </div>
          <div class="status-order" style="flex-grow:1">
            <h2 class="title-order">Total</h2>
            <h3 class="info-order">1250,00DHS</h3>
          </div>
          <div class="status-order-admin" style="flex-grow:2">
            <h2 class="title-order">Status</h2>
            <input class="info-order"type="text" name="order-status" value="In preparation">
          </div>
        </div>

        <a href="#" class="delete-user"><img src="image/x-circle.png" alt=""></a>


      </div>





    </div>

  </div>


  <div th:replace="common/headerAdmin :: body-bottom"></div>



</body>


</html>
