<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">


<head th:replace="common/header :: common-header"></head>


<body>

  <div th:replace="common/header :: navbar"></div>

  <h2 class="payment">Payment</h2>

  <form class="payment-form" method="post">
    <div class="container">

      <label for="full-name">Full name</label>
      <input type="text" name="full-name" placeholder="Full name">
      <label for="email">Email</label>
      <input type="text" name="email" placeholder="Email">

      <label for="card-details">Card details</label>
      <input type="text" name="card-number" placeholder="Card number">

      <div class="card-details">
        <input type="text" name="month" placeholder="Month">
        <input type="text" name="year" placeholder="Year">
        <input type="text" name="cvv" placeholder="CVV">
      </div>

      <label for="country">Country</label>
      <input type="text" name="country" placeholder="Country">
      <label for="city">City</label>
      <input type="text" name="city" placeholder="City">



        <label for="shippping">Shipping Address</label>
        <input type="text" name="shipping" placeholder="Shipping address">


      <hr>

      <div class="sub-total">

        <div class="cart-info">
          <div class="total">
            <h2>Sub-total: </h2>
            <h2 class="total-cart">1889,00DHS</h2>
            <p>Tax and shipping included</p>
          </div>
        </div>

        <div class="button-cart">
          <button type="button" onclick="location.href='confirmPayment'" name="check-out">Check-out</button>
        </div>

      </div>
    </div>





  </form>




  <div th:replace="common/header :: body-bottom"></div>



</body>


</html>
